<!DOCTYPE html>
<html>
  <head>
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />
  </head>
  <body>
    <p>Welcome to Alliance of People with disAbilities!</p>
    <p>
      You have successfully signed up for our jobs list with the email: <%= @user.email %>.
    </p>
    <p>
      <strong>To verify your account please click this link: <%= link_to "ACTIVATE", @url %>.</strong>
    </p>
    <p>Thanks for joining and have a great day!</p>
  </body>
</html>