<footer>
  <div class="container">
    <div class="column-row">
       <nav class="column seven right pad-top">
          <ul class="right">
            <li><%= link_to "About", '/about' %></li>
            <li><%= link_to "Contact", '/contact' %></li>
            <li><a href="http://feeds.feedburner.com/SeattleRubyJobsFeed" target="_blank"><img src="/images/feed-icon.gif"> RSS</a></li>
          </ul>
        </nav>
    </div>
  </div>
  <div class="footer-bottom text-center">
    <p>Copyright 2011 - Seattle Ruby Jobs</p>
  </div>
</footer>

